<div class="container-messages">
  <%= simple_form_for [@user, @message] do |f| %>
    <%#= f.label :recipients %>
    <div class="add-mails">
      <input type="text" name="emails[]" class="add-mails-input">
      <div class="btn-form-blue position-fixed">Add Email</div>
    </div>

    <div class="show-wrapper">
      <div class="media-wrapper d-flex justify-content-center">
        <%=  image_tag("pencil.png", size: '50', id: "input-pencil").html_safe %>
        <%=  image_tag("image.png", size: '50', id: "input-image").html_safe %>
        <%=  image_tag("video.png", size: '50', id: "input-video").html_safe %>
        <%=  image_tag("music.png", size: '50', id: "input-music").html_safe %>
      </div>
      <div class="media-wrapper d-flex d-none">
        <%= f.input :letter, label: { id: "form-pencil" } %>
        <%= f.input :image, label: { id: "form-image" } %>
        <%= f.input :video, label: { id: "form-vide" } %>
        <%= f.input :audio, label: { id: "form-audio" } %>
      </div>

      <%= f.submit "Create a Message", class: "btn-white"%>
    </div>
  <% end %>

</div>

