<div class="page-container">
  <%= simple_form_for [@user, @message] do |f| %>
    <div class="show-container-outside">
      <div class="show-container-inside">

        <div class="show-container-info-grid">
          <div class="row messages-cont">
            <div class="col text-center">
              <div class="txt">
                <%# <%= f.input :letter, input_html: { require: true } %>
                <textarea class="form-control text optional" require="true" name="message[letter]" id="message_letter" placeholder="Type your message to the future here..."></textarea>
              </div>
              <div class="audio">
                <%# <audio controls>
                  <source src="https://pixabay.com/music/acoustic-group-love-bgm-no-copyright-music-113843/" type="audio/mp3">
                </audio> %>
              </div>
            </div>

            <div class="col-sm-12 col-lg-6 img-vid img-width d-none">
              <%# d-none %>
              <div id="media-preview-img">
                <%# TEMP IMAGE PLACEHOLDER:%>
                <%# <img src="https://source.unsplash.com/random/320x240/?love" alt=""> %>
              </div>
              <div id="media-preview-vid">
              </div>
            </div>

            <div class="row row-message">
                <div class="add-mails">
                  <%# <div class="mails-original d-flex"> %>
                    <input type="text" name="emails[]" class="add-mails-input" placeholder="@">
                    <input type="text" name="emails[]" class="add-mails-input" placeholder="@">
                  <%# </div> %>
                  <%# new mails will be added here %>
                </div>
                </div>
                  <div id="add-mails-btn">
                    +
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="all-btns-container">
      <div class="media-wrapper d-flex">
        <%=  image_tag("pencil.png", size: '50', class: "form-img d-none", id: "letter").html_safe %>
        <%=  image_tag("image.png", size: '50', class: "form-img", id: "image").html_safe %>
        <%=  image_tag("video.png", size: '50', class: "form-img", id: "video").html_safe %>
        <%=  image_tag("music.png", size: '50', class: "form-img", id: "audio").html_safe %>
      </div>

      <div class="media-wrapper d-flex d-none">
        <%= f.input :image, as: :file, input_html: { class: "d-none" }%>
        <%= f.input :video, as: :file, input_html: { class: "d-none" } %>
        <%= f.input :audio, as: :file, input_html: { class: "d-none" } %>
      </div>

      <div class="show-wrapper">
        <div class="send-firefly">
          <%= f.submit "FLY OUT", class: "cta-white"%>
        </div>
      </div>
    </div>
    </div>

  <% end %>
</div>
