 <%= simple_form_for [@user, @message] do |f| %>
      <%= f.input :letter%>
      <%= f.input :photo, as: :file %>
      <%= f.input :video, as: :file %>
      <%= f.input :audio%>

      <%= f.label :recipients %>
      <div class="add-mails">
        <input type="text" name="emails[]" class="add-mails-input form-control">
      </div>
      <div class="add-mails-btn"> add email</div>

      <br>
      <%= f.submit "Create a message"%>
<% end %>
