<h1>Update firefly date</h1>
  <br>

  <div id="form_all">
    <%# first div below obtained from inspect (form) %>
    <%# !!! PLEASE LEAVE ID "date-all" IN FIRST DIV !!! (JS) %>
    <div id="date-all" class="d-flex flex-row justify-content-between align-items-center">
      <input class="form-select mx-1 date optional" type="date" name="firefly[date_recieve]" id="firefly_date_recieve">
    </div>

    <div class="d-flex">
      <div id="apply-all-btn"> APPLY DATE TO ALL | </div>
      <div id="costumize-btn"> COSTUMIZE DATES</div>
    </div>
  </div>

  <br>
  <br>

  <div id="form_each">
  <% @message.fireflies.each do |firefly| %>
    <p>change date for <strong><%= firefly.email_recipient %></strong></p>
    <%= simple_form_for(firefly, method: :patch, url: firefly_path(firefly)) do |f| %>
        <%= f.input :email_recipient %>
        <%= f.input :date_recieve, as: :date, html5: true%>
        <%= f.submit "Send firefly"%>
    <% end %>
    <br>
    <br>
  <% end %>
  </div>
