<h1>Update firefly date</h1>

<% @message.fireflies.each do |firefly| %>
  <p>change date for <strong><%= firefly.email_recipient %></strong></p>
  <%= simple_form_for(firefly, method: :patch, url: firefly_path(firefly)) do |f| %>
      <%= f.input :email_recipient %>
      <%= f.input :date_recieve, as: :date, html5: true%>
      <%= f.submit "Send firefly"%>
  <% end %>
  <br>
  <br>
<% end %>
