<div class="page-container">
  <div class="show-container-outside">
    <div class="show-container-inside">
        <div class="show-container-info-grid">

          <div class="row row-1">
            <div class="show-sender-container">
              <% if @firefly.message.user == current_user %>
                <p> Send to <strong> myself </strong></p>
              <% else %>
                <p><strong>Received from: </strong>
                <%= @firefly.message.user.first_name %>
                <%= @firefly.message.user.last_name %> --
                <%= @firefly.message.user.email %> </p>
              <% end %>
              <p><strong> Sent: </strong> <%= @firefly.date_sent %></p>
              <p><strong> Received: </strong> <%= @firefly.date_recieve %></p>
            </div>
          </div>

          <div class="row row-2">
            <div class="col">
              <div class="ana-iris d-flex flex-column gap-4 txt-aud">
                <div class="show-grid-txt">
                  <% if @firefly.message.letter != "" %>
                      <%= @firefly.message.letter %>
                  <% end %>
                </div>
                <div class="show-grid-aud">
                     <% if @firefly.message.audio != "" %>
                      <%= @firefly.message.audio %>
                    <% end %>
                      <%# TEMP AUDIO PLACEHOLDER %>
                      <%# <audio controls> %>
                          <%# <source src="https://pixabay.com/music/acoustic-group-love-bgm-no-copyright-music-113843/" type="audio/mp3"> %>
                      <%# </audio> %>
                </div>
              </div>
            </div>

            <% if @firefly.message.image || @firefly.message.video != nil %>
              <div class="col-md-12 col-lg-6">
                <div class="d-lg-flex flex-lg-column gap-4 img-vid">
                  <div class="show-grid-img">
                    <% if @firefly.message.image.attached?%>
                    <%= cl_image_tag @firefly.message.image.key, crop: :fill%>
                 <% end %>
                      <%# TEMP IMAGE PLACEHOLDER:%>
                      <%# <img src="https://source.unsplash.com/random/320x240/?love" alt=""> %>
                    </div>
                  <div class="show-grid-vid">
                    <%# <% if @firefly.message.video != nil %>
                        <%# <%= @firefly.message.video %>
                    <%# <% end %>

                     <% if @firefly.message.video%>
                      <%# <%= cl_video_tag @firefly.message.video, crop: :fill %>
                      <%= cl_video_tag(@firefly.message.video.key,
                        :loop => true, :controls => true,
                        :transformation => [
                         :crop=>"fill",
                          :quality=>70, :duration=>"10"],
                        :fallback_content => "Your browser does not support HTML5 video tags." ) %>
                     <% end %>
                    <%# TEMP VIDEO PLACEHOLDER %>
                    <%# <video controls> %>
                        <%# <source src="flowers-68367.mp4" type="video/mp4"> %>
                    <%# </video> %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="page-container-comment">
  <div class="show-container-outside-comment">
    <div class="show-container-inside-comment">
      <div class="show-container-info-grid-comment">

      <% if current_user %>
        <h4>Connect with your friends and send them a message:</h4>
        <%= simple_form_for [@message, @comment] do |f| %>
          <%= f.input :content, label_html: { class: 'd-none' }, input_html: {id: 'comment_letter', class: 'rounded-8px', placeholder: 'Type here...'}  %>
          <%= hidden_field_tag 'firefly_id', @firefly.id %>
          <%= f.submit "SUBMIT", class: "cta-yellow-comment" %>
        <% end %>
        <br>
        <div class="comments-read">
        <h4>What was said:</h4>

        <% @firefly.message.comments.each do |comment| %>
          <button class='chat-background'><i class="fa-regular fa-user"></i> <h1><%= comment.user.first_name %></h1>:
          <%= comment.content %></button>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<div class="show-btn-container">
  <div class="cta-white"><%= link_to "Remove firefly", firefly_path(@firefly), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></div>
  <div class="cta-white"><%= link_to "My timeline", timeline_path %></div>
</div>
