<div class="page-container">
  <div class="show-container-outside">
    <div class="show-container-inside">
        <div class="show-container-info-grid">

          <div class="row row-1">

            <div class="col-6">
              <div class="d-flex flex-column gap-5">
                <div class="show-grid-txt">
                  <% if @firefly.message.letter != "" %>
                      <%= @firefly.message.letter %>
                  <% end %>
                </div>
                <div class="show-grid-aud">
                  <audio controls>
                      <source src="https://pixabay.com/music/acoustic-group-love-bgm-no-copyright-music-113843/" type="audio/mp3">
                  </audio>
                </div>
              </div>
            </div>

              <div class="col-6">
                <div class="d-flex flex-column gap-3">
                  <div class="show-grid-vid">
                    <img src="https://source.unsplash.com/random/320x240/?love" alt="">
                  </div>
                  <div class="show-grid-img">
                    <img src="https://source.unsplash.com/random/320x240/?love" alt="">
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="show-sender-container">
  <% if @firefly.message.user == current_user %>
    <p>This firefly is send to <strong> myself </strong></p> |
  <% else %>
    <p><strong>Received from: </strong> <br>
    <%= @firefly.message.user.first_name %>
    <%= @firefly.message.user.last_name %> --
    <%= @firefly.message.user.email %> </p> |
  <% end %>
  <br>
  <p><strong> Sent: </strong> <%= @firefly.date_sent %></p> |
  <p><strong> Received: </strong> <%= @firefly.date_recieve %></p>
  <br><br>
</div>

<div class="show-btn-container">
  <%= link_to "Remove firefly", firefly_path(@firefly), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
  <%= link_to "My timeline", timeline_path %>
</div>
