<div class="page-container">
  <div class="show-container-outside">
    <div class="show-container-inside">
        <div class="show-container-info-grid">

          <div class="row row-1">
            <div class="show-sender-container">
              <% if @firefly.message.user == current_user %>
                <p> Send to <strong> myself </strong></p>
              <% else %>
                <p><strong>Received from: </strong>
                <%= @firefly.message.user.first_name %>
                <%= @firefly.message.user.last_name %> --
                <%= @firefly.message.user.email %> </p>
              <% end %>
              <p><strong> Sent: </strong> <%= @firefly.date_sent %></p>
              <p><strong> Received: </strong> <%= @firefly.date_recieve %></p>
            </div>
          </div>

          <div class="row row-2">

            <div class="col-md-12 col-lg-6">
              <div class="d-flex flex-column gap-4 txt-aud">
                <div class="show-grid-txt">
                  <% if @firefly.message.letter != "" %>
                      <%= @firefly.message.letter %>
                  <% end %>
                </div>
                <div class="show-grid-aud">
                  <audio controls>
                      <source src="https://pixabay.com/music/acoustic-group-love-bgm-no-copyright-music-113843/" type="audio/mp3">
                  </audio>
                </div>
              </div>
            </div>

              <div class="col-md-12 col-lg-6 aud-vid">
                <div class="d-flex flex-column gap-4 img-vid">
                  <div class="show-grid-img">
                      <img src="https://source.unsplash.com/random/320x240/?love" alt="">
                  </div>
                  <div class="show-grid-vid">
                    <video controls>
                        <source src="flowers-68367.mp4" type="video/mp4">
                    </video>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="show-btn-container">
  <div class="cta-white"><%= link_to "Remove firefly", firefly_path(@firefly), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></div>
  <div class="cta-white"><%= link_to "My timeline", timeline_path %></div>
</div>
