<div class="header-container">
  <div class="nav-firefly">
        <div class="dropdown">
          <div>
            <span class="fa-solid fa-bars"></span><span>Menu</span>
            <div>
                <div class="dropdown-content">
                  <%= link_to "About us", root_path %>
                  <% if user_signed_in? %>
                  <%= link_to "Create a firefly", new_message_path %>
                  <% end %>
                  <%= link_to "Contact", root_path %>
                  <%= link_to "Legal", root_path %>
                  <%# <% if user_signed_in? %>
                  <%# <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %>
                  <%# <% end %>
                </div>
            </div>
          </div>
        </div>
    <%= link_to "Fireflies", root_path, class: "nav-firefly h1" %>
    <% if user_signed_in? %>
      <p><%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "login-style" %></p>
      <% else %>
      <p><%= link_to "Login", new_user_session_path, class: "login-style" %></p>
    <% end %>
  </div>
</div>
