<div class="all">
  <div class="all-fireflies-inline">
    <% @fireflies.each do |firefly| %>
      <% if firefly.date_recieve.present? %>
        <div class="item" style="width: max-content;" >
          <div class="hover-links">
            <div class="date-firefly" style="display: none;">
              <%= firefly.date_recieve.strftime('%d %b %Y') %>
            </div>

            <% if firefly.date_recieve < Date.today %>
              <%= link_to firefly_path(firefly) do %>
                <div class="little-thing"></div>
              <% end %>
              <% elsif firefly.date_recieve == Date.today %>
              <%= link_to firefly_path(firefly) do %>
                <div class="little-thing-special"></div>
              <% end %>
            <% else %>
                <div class="little-thing-white"></div>
            <% end %>
          </div>
        </div>
    <% end %>

    <% end %>
  </div>

  <div id="timeline">
  </div>

  <div class="create-firefly-button" >
    <%= link_to "CREATE FIREFLY", new_message_path, class: "cta-white"%>
  </div>
</div>



  <%if @first_to_come.present?%>
  <article id="timer" data-date="<%=@first_to_come.date_recieve%>">
  </article>
  <% end %>


  <div id="clock-box">
    <%if @first_to_come.present?%>
    <p> Next firefly will reach you in</p>
    <% else %>
    <p> You do not have any upcoming fireflies</p>
    <% end %>
    <div id="clock">
    </div>
  </div>
